/* Logo */
.HeaderComponent img{
    width: 220px;
    overflow-clip-margin: content-box;
    overflow: clip;
    box-sizing: border-box;
    overflow-clip-margin: content-box;
    overflow: clip;
    padding-left: 120px 0;
}
.fhs-header-top-second-bar ul{
    list-style-type: none;
    background: white;
}
.fhs-header-top-second-bar ul >li{
    padding:0px 5px;
    display: inline-table;
    position: relative;
}
#sub-menu-1{
    display: none;
    background: dark;
    width: 200px;
    height: 30px;
    padding-left:5px;
    position:absolute;
}
#sub-menu-1 li{
    padding: 5px 0px;
}
#icon-menu:hover #sub-menu-1{
    display: block;
}
#sub-menu-1 li a{
    color:dark;
    text-decoration: none;
    display: block;
}
#sub-menu-1 li a:hover{
    background: gray;
    color:#333;
}
/* CategoryList */
#icon-menu img{
    width: 36px;
    height: 36px;

}