/* Logo */
.HeaderComponent img{
    width: 220px;
    overflow-clip-margin: content-box;
    overflow: clip;
    box-sizing: border-box;
    overflow-clip-margin: content-box;
    overflow: clip;
    padding-left: 120px 0;
}
.fhs-header-top-second-bar ul{
    list-style-type: none;
    background: white;
}
.fhs-header-top-second-bar ul >li{
    padding:0px 5px;
    display: inline-table;
    position: relative;
}
#sub-menu-1{
    display: none;
    background: dark;
    width: 200px;
    height: 30px;
    padding-left:5px;
    position:absolute;
}
#sub-menu-1 li{
    padding: 5px 0px;
}
#icon-menu:hover #sub-menu-1{
    display: block;
}
#sub-menu-1 li a{
    color:dark;
    text-decoration: none;
    display: block;
}
#sub-menu-1 li a:hover{
    background: gray;
    color:#333;
}
/* CategoryList */
#icon-menu img{
    width: 36px;
    height: 36px;

}

  /* Style cho dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0 0;
  }
  .dropdown{
    padding: 10px 10px;
  }
  /* Hiển thị dropdown content khi hover trên dropdown button */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Style cho các link bên trong dropdown */
  .dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Thay đổi màu sắc của các link khi hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }